{% extends "pizzas/base.html" %}


{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Build & order your own pizza here!</h1>

    <p class="lead"> Step 1: Select your pizza base choice and toppings.
        <br>
        Step 2: Leave a comment for others to view!
    </p>

</div>
<P>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Click here to join rewards club!
        &raquo;</a>
    <img src="https://pngimg.com/uploads/pizza/pizza_PNG7130.png" alt="Pizza">


</P>

{% endblock page_header %}